<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tengbo.module_order">

    <application
        android:allowBackup="true"
        android:theme="@style/AppTheme">

        <activity android:name=".ui.task.TaskDetailActivity" />
        <activity android:name=".ui.inspection.InspectionActivity" />
        <activity android:name=".ui.processing.ExceptionFeedbackActivity" />
        <activity android:name=".ui.history.HistoryOrderDetailActivity" />
        <activity
            android:name=".ui.processing.TakeActionPictureActivity"
            android:screenOrientation="portrait" />


    </application>

</manifest>