<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tengbo.module_order">

    <application
        android:allowBackup="true"
        android:theme="@style/AppTheme">

        <activity android:name=".ui.task.OrderDetailActivity" />
        <activity android:name=".ui.inspection.InspectionActivity" />
        <activity android:name=".ui.processing.TroubleActivity" />
        <activity android:name=".ui.history.StepRecordActivity" />
        <activity android:name=".ui.history.StepRecordDetailActivity" />
        <activity
            android:name=".ui.processing.TakeStepPictureActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />


        <!--后台定位服务-->
        <service android:name=".service.LocateService" />
        <!--后台上传位置服务-->
        <service android:name=".service.UploadLocationService" />


    </application>

</manifest>