<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tengbo.module_personal_center">

    <uses-permission android:name="android.permission.INTERNET" />

    <application android:theme="@style/AppTheme">
        <activity
            android:name=".activity.UpdatePasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AddBankCardInfoActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.BankCardListActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>